@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #111;
  width: 100%;
  overflow: hidden;
}

.ring {
  position: relative;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ring i {
  position: absolute;
  inset: 0;
  border: 2px solid #fff;
  transition: 0.5s;
}

.ring i:nth-child(1) {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}

.ring i:nth-child(2) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate 4s linear infinite;
}

.ring i:nth-child(3) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate2 10s linear infinite;
}

.ring:hover i {
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.login {
  position: absolute;
  width: 320px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border: 2px solid #fff;
  border-radius: 20px;
}

.login:hover{
  border: 2px solid #1766cc;
  box-shadow: 0 0 10px #1766cc;
}

.login h2 {
  font-size: 2em;
  color: #fff;
}

.login form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login .inputBx {
  position: relative;
  width: 100%;
}

.login .inputBx input {
  position: relative;
  width: 100%;
  padding: 12px 20px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 40px;
  font-size: 1.2em;
  color: #fff;
  box-shadow: none;
  outline: none;
}

.login .inputBx input:focus {
  border-color: #1766cc;
  box-shadow: 0 0 10px #1766cc;
}

.login .inputBx input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.login .inputBx button {
  width: 100%;
  padding: 12px 20px;
  background: #0069f3;
  border: none;
  border-radius: 40px;
  font-size: 1.2em;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.login .inputBx button:hover {
  background-color: #1766cc;
}

.login .links {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.login .links a {
  color: #fff;
  text-decoration: none;
}

.links a:hover {
  color: #4488e0;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}
.error-message {
  color: red;
  font-size: 1em;
  text-align: center;
  margin-top: 8px;
  display: none; 
  font-weight: 600;
  animation: shake 0.2s ease-in-out;
}

.show {
  display: block;
}

